<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发送MQTT指令</title>
    <script>

    function changeType()
    {
        var cmd_type = document.getElementById("cmd_type").value;
        var bHidden = cmd_type != "through";
        document.getElementById("p_func").hidden = bHidden;
        document.getElementById("p_check").hidden = bHidden;
    };

    function get_data()
    {
        var n_words = new Array();
        n_words.push("cmd_type="+document.getElementById("cmd_type").value);
        n_words.push("client_id="+document.getElementById("client_id").value);
        n_words.push("func="+document.getElementById("func").value);
        n_words.push("payload="+document.getElementById("payload").value);
        chk = document.getElementById("no_check");
        if (chk.checked)
            n_words.push("no_check=" + chk.value);
        else
            n_words.push("no_check=");
        n_words.push("password="+document.getElementById("password").value);
        var res = n_words.join("&");
        return res;
    }

    function loadXMLDoc()
    {
        document.getElementById("result").innerHTML = "";
        var xml_http;
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xml_http=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xml_http=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xml_http.onreadystatechange=function()
        {
            if (xml_http.readyState==4 && xml_http.status==200)
            {
                document.getElementById("result").innerHTML = "返回结果：" + xml_http.responseText;
            }
        }
        xml_http.open("POST", '/mqtt', true);
        xml_http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xml_http.send(get_data());
    };

    </script>

</head>
<body>

<div style="width:100%">

<div>
<h1 style="margin-bottom:0; text-align:center">发送MQTT指令</h1></div>

<div style="height:100%;width:25%;float:left;">
    .
</div>

<div id="content" style="height:100%;width:50%;float:left;">

<form action="" method="post" novalidate="novalidate">
<!--    #用来实现在配置中激活的csrf保护-->
<!--    -->
    <p>
        <label for="cmd_type">发送类型</label><br>
        <select id="cmd_type" name="cmd_type" onchange="changeType()"><option value="through">透传</option><option value="out_coin">退币</option><option value="relay_on">继电器常通</option><option value="relay_off">继电器常断</option><option value="relay_second">继电器通N秒</option><option value="car_single">卡丁车单人(payload={"order":订单, "circle":圈数})</option><option value="car_race">卡丁车多人赛(client_id: 圈数(0强制停止), payload:{ id1:订单号1,id2:订单号2, ... })</option></select>
    </p>
    <p>
        <label for="client_id">client_id</label><br>
        <input id="client_id" name="client_id" placeholder="请输入设备ID" size="32" type="text" value="">
            </p>
    <p id="p_func">
        <label for="func">function</label><br>
        <input id="func" name="func" placeholder="请输入功能（透传时必填）" size="32" type="text" value="">
            </p>
    <p></p>
    <p id="p_check"><input id="no_check" name="no_check" type="checkbox" value="y"><label for="no_check">[不]验证指令是否有效（未录入的新指令需要使用）</label></p>
    <p>
        <label for="payload">payload</label><br>
        <input id="payload" name="payload" placeholder="指令内容，没有可以为空" size="32" type="text" value="">
            </p>
    <p></p>
    <p>
        <label for="password">管理员密码</label><br>
        <input id="password" name="password" size="32" type="password" value="">
            </p>
    <p></p>
    <p>
<!--        <input id="submit" name="submit" type="submit" value="发送">-->
        <button type="button" onclick="loadXMLDoc()">发送</button>
    </p>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ur>
            {% for message in messages %}
                <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ur>
    {% endif %}
{% endwith %}

    <h3 id="result"></h3>

</div>

<div style="height:100%;width:25%;float:left;text-align:right">
    .
</div>

<!--<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">-->
<!--版权 © runoob.com</div>-->

</div>

</body>
</html>